.repository__wrapper .sidebar {
  /* width: 100%; */
  padding-top: 3rem;
  padding-left: var(--repo-padding);
  padding-right: calc(var(--repo-padding) / 2);
  position: absolute;
  top: -2rem;
  left: 0;
  width: var(--sidebar-width);
}

.repository__wrapper .sidebar .user__profilecard {
  display: block;
}

.repository__wrapper .sidebar .avatar {
  /* height: 18rem;
  width: 18rem; */
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.repository__wrapper .sidebar .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(225, 225, 232, 0.9);
}

.repository__wrapper .sidebar .avatar .user__status {
  position: absolute;
  bottom: 2rem;
  left: 82%;
  border: white;
  transition: all 0.5s;
  border-radius: 100px 100px;
  display: flex;
  align-items: center;
  padding: 0.05rem 0.4rem;
  color: #555758ea;
  background-color: #fff;
  height: 1.8rem;
  font-size: 0.8rem;
  cursor: pointer;
  box-shadow: 0 0 0 1px #5557584d;
}

.repository__wrapper .sidebar .avatar .user__status p {
  display: none;
  margin-left: 0.3rem;
  transition: all 0.5s;
}

.repository__wrapper .sidebar .avatar .user__status:hover p {
  opacity: 1;
  display: flex;
  width: 4rem;
}

.repository__wrapper .sidebar .avatar .user__status:hover p:hover {
  color: #0366d6;
}

.repository__wrapper .sidebar .sidebar__profile-summary {
  margin: 1rem 0;
}

.repository__wrapper .sidebar .sidebar__profile-summary h2 {
  font-size: 1.625rem;
  opacity: 1;
}

.repository__wrapper .sidebar .sidebar__profile-summary p.user__username {
  font-size: 1.25rem;
  color: #586069;
}

.repository__wrapper .sidebar .sidebar__profile-summary p.user__bio {
  font-size: 1.15rem;
  margin-top: 1.2rem;
}

.repository__wrapper .sidebar .mini-status,
.mini-link {
  display: none;
}

.repository__wrapper .sidebar .edit-button {
  width: 100%;
  text-align: center;
  padding: 0.6rem;
  margin: 1rem 0;
  background-color: #fafbfc;
  font-size: 0.8rem;
  border: 1px solid rgba(225, 225, 232, 0.9);
  border-radius: 5px;
  outline: none;
}

.repository__wrapper .sidebar .edit-button:hover {
  border: rgba(27, 31, 37, 0.15);
  background-color: #f3f4f6;
}

.repository__wrapper .sidebar .followership {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.repository__wrapper .sidebar .followership li {
  display: flex;
  align-items: center;
  color: #586069;
}

.repository__wrapper .sidebar .followership li:nth-child(2) {
  padding: 0 0.4rem;
  margin: 0 0.4rem;
}

.repository__wrapper .sidebar .followership li i,
.repository__wrapper .sidebar .followership li img {
  margin-right: 0.3rem;
}

.repository__wrapper .sidebar .followership li .value {
  font-weight: 700;
  color: #222;
  margin-right: 0.2rem;
}

.repository__wrapper .sidebar .location__div {
  border-bottom: 1px solid rgba(225, 225, 232, 0.9);
  padding: 2rem 0;
}

.repository__wrapper .sidebar .location__div li {
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
}

.repository__wrapper .sidebar .location__div li i {
  margin-right: 0.5rem;
  color: #586069;
}

.repository__wrapper .sidebar .location__div .website__url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.website__url,
.twitter__username {
  color: inherit;
  text-decoration: none;
}

.website__url:hover,
.twitter__username:hover {
  color: blue;
  text-decoration: underline;
}

.repository__wrapper .sidebar .highlights {
  padding: 2rem 0;
}

.repository__wrapper .sidebar .highlights h4 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.repository__wrapper .sidebar .highlights .highlight__details {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 0.9rem;
}

.repository__wrapper .sidebar .highlights .highlight__details i {
  margin-right: 0.8rem;
}

@media screen and (max-width: 768px) {
  .repository__wrapper .sidebar {
    padding: 0 1rem;
    padding-top: 2rem;
    z-index: 2;
    height: inherit;
    margin-bottom: 2rem;
    position: relative;
    width: 100%;
  }

  .repository__wrapper .sidebar .user__profilecard {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
  }

  .repository__wrapper .sidebar .avatar .avatar-img {
    width: 100%;
    height: 100%;
    max-width: 7.5rem;
    max-height: 7.5rem;
    margin-right: 1.2rem;
  }

  .repository__wrapper .sidebar .user__profilecard .user__bio {
    display: none;
  }

  .repository__wrapper .sidebar .avatar .user__status {
    display: none;
  }

  .repository__wrapper .sidebar .mini-status,
  .mini-link {
    display: block;
  }

  .repository__wrapper .sidebar .mini-link {
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
  }

  .repository__wrapper .sidebar .mini-link i {
    margin-right: 0.5rem;
  }

  .repository__wrapper .sidebar .mini-status button {
    width: 100%;
    text-align: center;
    padding: 0.6rem;
    margin: 1rem 0;
    background-color: #fff;
    font-size: 0.8rem;
    border: 1px solid rgba(225, 225, 232, 0.8);
    border-radius: 5px;
    outline: none;
    display: flex;
    align-items: center;
    color: #555758ea;
  }

  .repository__wrapper .sidebar .mini-status button i {
    margin-right: 1%;
  }

  .location__div,
  .highlights {
    display: none;
  }
}
